<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><b><u>{{enterpriseName}}</u></b></h1>
<div>
  <h3 style="display: inline-block;"><b>Description:</b></h3>
  <h5 style="display: inline-block;">{{enterpriseDescription}}</h5>
</div>




<p><h3>My offers</h3><p>
<table class="table">
  <thead>
    <tr bgcolor="#D3D3D3" style="text-align: center;">
      <th scope="col" style="text-align: center;">Offer</th>
      <th scope="col" style="text-align: center;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center;" ng-repeat="offer in recruiterOffers">
        <td style="text-align: center;">{{ offer.name }}</td>
        <td style="text-align: center;"><button type="button" class="btn btn-success"><a style="color: #FFFFFF;" href="/#/enterprise/updateOffer/{{offer.id}}">Update the offer</a></button>
        <button type="button" class="btn btn-danger"><a style="color: #FFFFFF;" ng-click="deleteOffer(offer.id)">Delete the offer</a></button>
        <a style="color: #FFFFFF;" href="/#/enterprise/manageOffer/{{offer.id}}"><button type="button" class="btn btn-primary">Manage the offer</button></a>
        <a style="color: #FFFFFF;" href="/#/chat"><button type="button" class="btn btn-primary" ng-click="chat(offer.id)">Chat</button></a>
      </td>

  </tbody>
</table>


<p><h3>Enterprise's offers</h3><p>
<table class="table">
  <thead>
    <tr bgcolor="#D3D3D3" style="text-align: center;">
      <th scope="col"style="text-align: center;" >Offer</th>
      <th scope="col"style="text-align: center;" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center;" ng-repeat="offer in otherOffers">
        <td style="text-align: center;">{{ offer.name }}</td>
        <td style="text-align: center;"><button type="button" class="btn btn-success"><a style="color: #FFFFFF;" href="/#/enterprise/updateOffer/{{offer.id}}">Update the offer</a></button>
        <button type="button" class="btn btn-danger"><a style="color: #FFFFFF;" ng-click="deleteOffer(offer.id)">Delete the offer</a></button>
        <a style="color: #FFFFFF;" href="/#/enterprise/manageOffer/{{offer.id}}"><button type="button" class="btn btn-primary">Manage the offer</button></a>
        <a style="color: #FFFFFF;" href="/#/chat"><button type="button" class="btn btn-primary" ng-click="chat(offer.id)">Chat</button></a>
      </td>

  </tbody>
</table>


<div class="striped-border"></div>
  <div style="text-align: center;">
    <div style=" display: inline-block; margin-right: 15px;"><button type="button" class="btn btn-success"><a style="color: #FFFFFF;" href="/#/enterprise/newOffer">Create a new offer</a></button></div>
    <div style=" display: inline-block;"><button type="button" class="btn btn-primary"><a style="color: #FFFFFF;" href="/#/enterprise/updateEnterprise">Update enterprise</a></button></div>


  </div>
<style>
  .striped-border {
      border: 1px dashed #000;
      width: 50%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
  }
</style>









