<h1 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"><b><u>Offers</u></b></h1>
<table class="table">
  <thead>
    <tr bgcolor="#D3D3D3" style="text-align: center;">
      <th scope="col">Enterprise</th>
      <th scope="col">Offer</th>
      <th scope="col">Percentage of match</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <tbody>
        <tr ng-repeat="offer in offers">
          <td>enterprise number</td>
          <td>{{offer.name}}</td>
          <td><span>{{isPremium ? 'Percentage' : 'You need to be premium!'}}</span></td>
          <td><a style="color: #FFFFFF;" href="/#/offers/{{offer.id}}"><button type="button" class="btn btn-success">See the offer</button></a></td>
        </tr>



  </tbody>
</table>

<div ng-repeat="p in percentages">
  {{p}}
</div>
