<link href="img/favicon.ico" rel="shortcut icon"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">

  <!-- Stylesheets -->
  
  <link rel="stylesheet" href="../css/font-awesome.min.css"/>
  <link rel="stylesheet" href="../css/flaticon.css"/>
  <link rel="stylesheet" href="../css/owl.carousel.css"/>
  <link rel="stylesheet" href="../css/magnific-popup.css"/>
  <link rel="stylesheet" href="../css/style.css"/>

  <section class="hero-section spad">
    <div class="container-fluid" style="text-align: center; margin-top: -100px; margin-left: 30px;">
      <div class="row" style="max-width: 100%;">
          <div class="row" style="max-width: 100%;">
            <div class="col-md-6">
              <div class="hero-text" style="text-align: left;">
                <h2>{{username}}</h2>
                <p>{{description}}</p>
              </div>
              <div class="hero-info" style="text-align: left;">
                <h2>General Info</h2>
                <ul>
                  <li><span>Hobbie</span>{{hobbie}}</li>
                  <li><span>Company</span>{{company}}</li>
                  <li><span>E-mail</span>{{email}}</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <figure class="hero-image">
                <img src="{{image}}" alt="5">
              </figure>
              <div class="hero-info" style="text-align: center; margin-top: 50px;">
                <h2>Skills</h2>
                <ul>
                  <a href="#" class="badge badge-dark badge-pill" style="padding: 5px 10px 5px 10px;">skill 1</a>
                  <a href="#" class="badge badge-dark badge-pill" style="padding: 5px 10px 5px 10px;">skill 1</a>
                  <a href="#" class="badge badge-dark badge-pill" style="padding: 5px 10px 5px 10px;">skill 1</a>
                  <a href="#" class="badge badge-dark badge-pill" style="padding: 5px 10px 5px 10px;">skill 1</a>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  